body{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: #8BFFBC; background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#FFFFFF));
   
  }
  
  
  
  .casamenu ul li{
    display: inline-block;
    width: 74px;
    height: 25px;
  }
  .casamenu{
    width: 20%;
    padding: 0px; 
    margin-left: -330px;
    position: absolute;
    left: 23%;
    width: 74px;
    margin-top: 17px;
    
  }
  
  .seta{
    width: 80%;
    height: 80px;
    float: right;
    padding: 20px;
    margin-left: -80px;
  
  }
  
  .setaa{
    width: 20px;
    height: 20px;
    padding: 0px;
    position: absolute;
    left: 80px;
  
  }
  
  .pergunta{
    width: 30%;
    height: 200px;
    color: #868686; 
    position: absolute;
    left: 70%;
    text-align: 70%; 
    
   }