body{
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: #8BFFBC; background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#FFFFFF));
 
}

/* teste */

ul{
  padding: 0px!important;
  
}

.casamenu ul li{
  display: inline-block;
  width: 124px;
  height: 25px;
}
.casamenu{
  width: 20%;
  padding: 0px; 
  margin-left: -330px;
  position: absolute;
  left: 19%;
  
}

.logo{
  width: 80%;
  height: 80px;
  float: right;
  padding: 20px;
  margin-left: -80px;

  
}

.logoo{
  width: 270px;
  height: 100px;
  padding: 0px;
  position: absolute;
  left: 80px;

}

.pergunta{
 width: 30%;
 height: 200px;
 color: #868686; 
 position: absolute;
 left: 70%;
 text-align: 70%; 
 
}

.cardiologista{
  height: 50px;
  width: 500px;
  margin-top: -200px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 20%;

}

.dermatologista{
  height: 50px;
  width: 500px;
  margin-top: -80px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 20%;

}

.otorrinolaringologista{
    height: 50px;
  width: 500px;
  margin-top: 40px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 20%;

}

.urologista{
    height: 50px;
  width: 500px;
  margin-top: 160px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 20%;

}

.ginecologista{
    height: 50px;
  width: 500px;
  margin-top: 280px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 20%;

}

.odontologista{
    height: 50px;
  width: 500px;
  margin-top: 400px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 20%;

}

.neurologista{
    height: 50px;
  width: 500px;
  margin-top: -200px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 60%;

}

.oftalmologista{
      height: 50px;
  width: 500px;
  margin-top: -80px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 60%;
  
}

.pediatra{
      height: 50px;
  width: 500px;
  margin-top: 40px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 60%;
  
}

.ortopedico{
      height: 50px;
  width: 500px;
  margin-top: 160px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 60%;
  
}

.geriatrico{
      height: 50px;
  width: 500px;
  margin-top: 280px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 60%;
  
}

.endocrino{
  height: 50px;
  width: 500px;
  margin-top: 400px;
  background-position: 12px;
  border: 1px solid #b0b0b0;
  background-color: #8BFFBC;
  border-radius: 20px;
  padding:12px ;
  float: center;
  display: flex;
  position: absolute;
  left: 60%;
  
}