 html {
   height: 100%;
   width: 100%;
   background-color: #8BFFBC;
   background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#FFFFFF));
 }

 .imageLOGO {
   border: solid 2px blue;
   height: 180px;
 }

 #ccwalogo {
   position: absolute;
   left: 550px;
   border: 2px solid black;
 }

 .meio {
   border: 2px solid blue;
 }