 html {

   width: 100%;
   height: 100%;
   margin: 0 auto;
   background-color: #8BFFBC;
   background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#FFFFFF));

 }

header{
   border:solid 2px red;
   align-content: center;
}

.ccwaimage {
align-items: center;
left: 550px ;
position: absolute;
}

 .casinha {
  position:absolute;
  display: inline-block;
}