/*Configurções padrão*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Alegreya Sans;
}

header{
	margin: 0 auto;
}

body{
	background-image: url(./ImagensCadastro/Fundo.png);

}
main{
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

.casa{
  padding: 10px;
}

.homenzinho {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.logo {
  text-align: center;
}

.texto {
  padding-top: 60px;
  font-size: 40px;
}

#nome{
    height: 35px;
    width: 680px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:20px ;
    float: center;
    display: flex;
    position: relative;
}

#cpf{
    height: 35px;
    width: 680px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:20px ;
    float: center;
    display: flex;
    position: relative;
}

#telefone{
    height: 35px;
    width: 680px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:20px ;
    float: center;
    display: flex;
    position: relative;
}

#email{
    height: 35px;
    width: 680px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:20px ;
    float: center;
    display: flex;
    position: relative;
}

#senha{
    height: 35px;
    width: 680px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:20px ;
    float: center;
    display: flex;
    position: relative;
}

#senha-2{
    height: 35px;
    width: 680px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:20px ;
    float: center;
    display: flex;
    position: relative;
}






.prosseguir {
    height: 35px;
    width: 280px;
    margin-top: 25px;
    background-position: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding:12px ;
    float: center;
    background-color: #8fffbc;
    position: absolute;
    left: 46%;
}
